
.options-bubble {
  position: absolute;
  display: grid;
  width: 140px;
  height: 69px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  overflow: hidden;
  user-select: none;
  animation-name: options-open;
  animation-duration: 0.5s;
  transform: translate(var(--x), var(--y)) translateY(-50%);
}

@keyframes options-open {
  from {
    transform: translate(var(--x), var(--y)) translate(-70px, -50%) scaleX(0)
  }
  to {
    transform: translate(var(--x), var(--y)) translateY(-50%)
  }
}
