
.person {
  display: flex;
  position: absolute;
  width: fit-content;
  height: 60px;
  padding: 20px;
  border-radius: 15px;
  user-select: none;
  align-items: center;
}

.options-bubble {
  position: absolute;
  display: grid;
  width: 200px;
  height: 100px;
  border-radius: 15px;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  overflow: hidden;
  user-select: none;
  animation-name: options-open;
  animation-duration: 0.5s;
  transform: translate(var(--x), var(--y)) translate(-50%, -135px);
}


.options-bubble-edit-page-btn {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

@keyframes options-open {
  from {
    transform: translate(var(--x), var(--y)) translate(-50%, -75px) scale(0.5)
  }
  to {
    transform: translate(var(--x), var(--y)) translate(-50%, -135px)
  }
}

/* .options-bubble::after {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 0;
  transform: translateX(90px);
  border-width: 10px 10px 0;
  border-style: solid;
  border-color: #8080d0 transparent transparent;
} */
