
.person {
  display: flex;
  position: absolute;
  width: fit-content;
  height: 60px;
  font-size: 16px;
  font-family: "Arial";
  padding: 4px;
  border-radius: 15px;
  user-select: none;
  align-items: center;
}
